@import "normalize";

// === Mixins === //

@mixin font-heebo {
    font-family: Heebo, sans-serif;
}

@mixin font-merienda-one {
    font-family: "Merienda One", cursive;
}

@mixin font-section-title {
    @include font-merienda-one;

    margin: 0 auto 22px;
    font-size: 54px;
    font-weight: 400;
    line-height: 70px;
    color: $color-black;
}

@mixin font-description($font-color: rgba($color-black, 0.5)) {
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    color: $font-color;
}

// === / Mixins === //

// === Variables === //

$color-white: #fff;
$color-black: #000;
$color-link: #1a7f72;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
$screen-xxl-min: 1400px;
$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;
$screen-xl-max: 1399px;

// === / Variables === //

// === Common === //
* {
    box-sizing: border-box;
}

body {
    @include font-heebo;
}

.section-inner {
    padding: 0 20px;
    margin: 0 auto;
}

ul {
    margin: 0;
    list-style-type: none;
}

a {
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
    color: $color-black;
    text-decoration: none;
}

a:hover {
    color: $color-link;
    transition: 0.2s;
}

.button-primary {
    @include font-description($font-color: $color-white);

    width: 210px;
    height: 55px;
    cursor: pointer;
    background: linear-gradient(180deg, #259385 0%, #159685 100%);
    border: 0;
    border-radius: 30px;
    box-shadow: 0 13px 28px rgba(26, 127, 114, 0.2);
}

.button-primary:hover {
    background: linear-gradient(180deg, #01c3a9 0%, #23a291 100%);
    transition: 0.2s;
}

img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

// === / Common === //

// === Header === //

.section-header {
    height: 100%;

    .section-inner {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            width: 100%;
            height: 100%;
            content: "";
            background-color: $color-white;
        }
    }

    img {
        position: relative;
        z-index: 3;
    }

    &__nav {
        z-index: 3;
    }

    li {
        height: 130px;
        padding-right: 75px;

        a {
            position: relative;
            display: flex;
            align-items: center;
            height: 100%;
        }

        a:hover::after {
            position: absolute;
            bottom: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 10px;
            content: "";
            background: $color-link;
            border-radius: 10px 10px 0 0;
        }
    }

    @media (max-width: $screen-lg-max) {
        img {
            max-width: 60px;
            max-height: 50px;
        }

        &__burger {
            position: relative;
            z-index: 3;
            display: block;
            width: 30px;
            height: 20px;

            span {
                position: absolute;
                top: 9px;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: $color-black;
                transition: all 0.2s;
            }

            &::after,
            &::before {
                position: absolute;
                left: 0;
                width: 100%;
                height: 2px;
                content: "";
                background-color: $color-black;
                transition: all 0.2s;
            }

            &::before {
                top: 0;
            }

            &::after {
                bottom: 0;
            }

            &.active::before {
                top: 9px;
                transform: rotate(45deg);
            }

            &.active::after {
                bottom: 9px;
                transform: rotate(-45deg);
            }

            &.active span {
                transform: scale(0);
            }
        }

        &__nav {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow-y: auto;
            background-color: $color-link;
            transition: all 0.2s;
            transform: translateY(-100%);

            &.active {
                transform: translateY(0%);
            }
        }

        ul {
            display: block;
        }
    }

    @media (min-width: $screen-xl-min) {
        img {
            max-width: 150px;
            max-height: 120px;
        }

        &__burger {
            display: none;
        }

        ul {
            display: flex;
        }
    }
}

// === / Header === //

// === Hero section === //

.section-hero {
    padding-top: 70px;
    text-align: center;
    background: url("../img/background-hero.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__title {
        @include font-merienda-one;

        margin: 0 auto 22px;
        font-weight: 400;
        color: $color-white;
    }

    &__description {
        @include font-description;

        margin: 0 auto 30px;
    }

    &__button {
        width: 300px;
        height: 75px;
        padding: 20px 90px;
        margin: 0 auto 70px;
        font-size: 30px;
        font-weight: 700;
        line-height: 40px;
        color: $color-white;
        text-align: center;
        cursor: pointer;
        background: linear-gradient(#259385, #159685);
        border: 0;
        border-radius: 50px;
        box-shadow: 0 20px 40px 0 rgba(21, 113, 101, 0.2);
    }

    &__button:hover {
        background: linear-gradient(#016a5a, #016a5a);
    }

    &__content {
        img {
            max-width: 590px;
            max-height: 560px;
        }
    }

    @media (max-width: $screen-lg-max) {
        &__title {
            font-size: 54px;
            line-height: 70px;
        }
    }

    @media (min-width: $screen-lg-min) {
        &__title {
            font-size: 68px;
            line-height: 88px;
        }
    }

    @media (min-width: $screen-xl-min) and (max-width: $screen-xl-max) {
        &__title {
            width: 70%;
        }

        &__description {
            width: 80%;
        }
    }

    @media (min-width: $screen-xxl-min) {
        &__title {
            width: 55%;
        }

        &__description {
            width: 80%;
        }
    }
}

// === / Hero section === //

// === Section2 === //

.section-second {
    padding: 120px 0 70px;
    background-color: $color-white;

    .cards-list {
        display: flex;
        justify-content: space-between;
        padding: 0;

        .cards-item {
            max-width: 420px;
            max-height: 540px;
            padding-top: 50px;
            text-align: center;
            border-radius: 20px;
            box-shadow: 0 20px 50px rgba(26, 127, 114, 0.15);

            &__icon {
                margin-bottom: 20px;

                img {
                    max-width: 100px;
                    max-height: 100px;
                }
            }

            &__title {
                margin-bottom: 20px;
                font-size: 32px;
                font-weight: 500;
                line-height: 48px;
            }

            &__description {
                margin: 0 48px;
                font-size: 18px;
                font-weight: 400;
                line-height: 24px;
            }

            &__button {
                margin-top: 72px;
                margin-bottom: 96px;
            }

            @media (max-width: $screen-xl-max) {
                margin-bottom: 90px;
            }
        }

        @media (max-width: $screen-xl-max) {
            flex-direction: column;
            align-items: center;
        }
    }
}

// === / Section2 === //

// === Practice === //

.section-practice {
    padding: 70px 0;
    text-align: center;
    background: url("../img/exercise-background.png");
    background-repeat: no-repeat;
    background-position: right;

    &__title {
        @include font-section-title;
    }

    &__description {
        @include font-description;

        margin: 0 auto;
    }

    &__content {
        display: flex;

        &--img {
            min-width: 300px;
            max-width: 745px;
            min-height: 240px;
            max-height: 595px;
        }

        .exercise-list {
            padding: 0;
        }

        .exercise-item {
            max-width: 720px;
            min-height: 235px;
            padding: 40px;
            text-align: start;
            cursor: pointer;

            &__title {
                font-size: 32px;
                font-weight: 500;
                line-height: 48px;
                color: rgba($color-black, 0.8);
            }

            &__description {
                @include font-description;

                padding-top: 10px;
            }

            &__arrow {
                display: flex;
                justify-content: end;
                visibility: hidden;

                &--img {
                    max-width: 100px;
                }
            }

            &:hover {
                background: $color-white;
                border-radius: 20px;
                box-shadow: 0 8px 50px rgba(26, 127, 114, 0.2);
            }
        }

        /* stylelint-disable-next-line selector-class-pattern */
        .exercise-item:hover .exercise-item__arrow {
            visibility: visible;
        }

        @media (max-width: $screen-xl-max) {
            flex-direction: column;
            align-items: center;

            &-exercise {
                margin-top: 20px;
            }
        }

        @media (min-width: $screen-xxl-min) {
            &-exercise {
                margin-left: 155px;
            }
        }
    }

    @media (max-width: $screen-lg-max) {
        &__content {
            padding: 70px 20px 0;
        }
    }

    @media (min-width: $screen-xl-min) and (max-width: $screen-xl-max) {
        &__title {
            width: 60%;
        }

        &__description {
            width: 80%;
        }
    }

    @media (min-width: $screen-xl-min) {
        &__content {
            padding: 70px 150px 0;
        }
    }

    @media (min-width: $screen-xxl-min) {
        &__title {
            width: 40%;
        }

        &__description {
            width: 55%;
        }
    }
}

// === / Practice === //

// === Music === //

.section-music {
    padding: 70px 0;
    text-align: center;
    background: url("../img/background-music.png");
    background-repeat: no-repeat;
    background-size: contain;

    &__title {
        @include font-section-title;
    }

    &__description {
        @include font-description;

        margin: 0 auto;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &--img {
            min-width: 340px;
            max-width: 695px;
            min-height: 270px;
            max-height: 680px;
        }

        @media (max-width: $screen-xl-max) {
            flex-direction: column;
            align-items: center;
        }
    }

    .music-list {
        padding: 0;

        @media (max-width: $screen-xl-max) {
            order: 1;
        }
    }

    .music-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 650px;
        min-height: 150px;
        max-height: 150px;
        margin-bottom: 35px;
        text-align: left;
        background-image: url("../img/music-item-background.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        &__title {
            font-weight: 500;
        }

        &__description {
            margin: 0 auto;
        }

        .button-play-music {
            max-width: 80px;
            max-height: 80px;
        }

        @media (max-width: $screen-lg-max) {
            padding: 20px;

            &__information {
                padding: 20px;
            }
        }

        @media (min-width: $screen-xl-min) {
            padding: 30px 40px;

            &__information {
                padding: 0 80px;
            }
        }
    }

    @media (max-width: $screen-lg-max) {
        &__content {
            padding: 70px 20px 0;
        }
    }

    @media (min-width: $screen-xl-min) {
        &__description {
            width: 60%;
        }

        &__content {
            padding: 70px 150px 0;
        }
    }
}

// === / Music === //

// === Best of meditation === //

.section-best-of-meditation {
    padding: 120px 0;
    text-align: center;
    background: url("../img/best-of-meditation-background.png");
    background-repeat: no-repeat;
    background-size: cover;

    &__title {
        @include font-section-title;
    }

    &__description {
        @include font-description;

        margin: 0 auto;
    }

    &__content {
        display: flex;
        justify-content: space-between;

        &--img {
            max-width: 340px;
            max-height: 800px;
        }

        @media (max-width: $screen-lg-max) {
            flex-direction: column;
            align-items: center;
        }

        @media (max-width: $screen-xl-max) {
            padding: 70px 20px;

            &--img {
                display: none;
            }
        }

        @media (min-width: $screen-xxl-min) {
            padding: 70px 120px 0;
        }
    }

    .benefits-list {
        padding: 0;

        &__item {
            display: flex;
            flex-direction: column;
            max-width: 600px;
            max-height: 200px;
            padding: 20px;
            margin-bottom: 100px;
            cursor: pointer;

            &.left {
                align-items: end;
                text-align: right;
                background: url("../img/benefits-item-left-background.png");
                background-size: 100% 100%;
            }

            &.right {
                align-items: flex-start;
                text-align: left;
                background: url("../img/benefits-item-right-background.png");
                background-size: 100% 100%;
            }

            &-title {
                margin-bottom: 10px;
                font-size: 32px;
                font-weight: 500;
                line-height: 48px;
                color: $color-black;
            }

            &-description {
                @include font-description;
            }

            @media (max-width: $screen-lg-max) {
                &-description {
                    /* stylelint-disable-next-line value-no-vendor-prefix */
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }

            @media (min-width: $screen-xl-min) {
                &-description {
                    width: 90%;
                }
            }
        }

        @media (min-width: $screen-xl-min) {
            padding: 25px 35px;
        }
    }

    @media (min-width: $screen-xl-min) {
        &__description {
            width: 60%;
        }
    }

    @media (max-width: $screen-xl-max) {
        background-position: center;
    }
}

// === / Best of meditation === //

// === Transform your body === //

.section-transform-your-body {
    padding: 70px 0;
    text-align: center;
    background: url("../img/transform-your-body-background.png");
    background-repeat: no-repeat;

    &__title {
        @include font-section-title;
    }

    &__description {
        @include font-description;

        margin: 0 auto 70px;
    }

    .antistress-meditation {
        display: flex;

        &__img {
            max-width: 705px;
            max-height: 555px;
        }

        &__content {
            display: flex;
            flex-direction: column;
            text-align: left;

            &--title {
                margin-bottom: 18px;
                font-size: 32px;
                font-weight: 500;
                line-height: 48px;
                color: rgba($color-black, 0.8);
            }

            &--description {
                @include font-description;

                margin-bottom: 30px;
            }
        }

        @media (max-width: $screen-lg-max) {
            &__img {
                min-width: 280px;
                min-height: 220px;
            }

            &__content {
                padding-top: 100px;
            }
        }

        @media (max-width: $screen-xl-max) {
            flex-direction: column;
            align-items: center;
        }

        @media (min-width: $screen-xl-min) {
            padding: 0 200px;

            &__content {
                padding: 120px 0;
                margin-left: 200px;
            }
        }
    }

    .backyark-band-meditation {
        display: flex;
        justify-content: center;

        &__img {
            max-width: 765px;
            max-height: 532px;
        }

        &__content {
            display: flex;
            flex-direction: column;
            padding: 100px 0;
            text-align: left;

            &--title {
                margin-bottom: 18px;
                font-size: 32px;
                font-weight: 500;
                line-height: 48px;
                color: rgba($color-black, 0.8);
            }

            &--description {
                @include font-description;

                margin-bottom: 30px;
            }
        }

        @media (max-width: $screen-xl-max) {
            flex-direction: column;
            align-items: center;

            &__img {
                min-width: 306px;
                min-height: 212px;
            }
        }

        @media (min-width: $screen-xl-min) {
            padding: 70px 200px 0;
        }

        @media (min-width: $screen-xxl-min) {
            &__content {
                margin-right: 135px;
            }
        }
    }

    @media (max-width: $screen-lg-max) {
        &__title {
            padding: 0  20px;
        }

        &__description {
            padding: 0  20px;
        }
    }

    @media (max-width: $screen-xl-max) {
        flex-direction: column;
        align-items: center;
        background-size: contain;
    }

    @media (min-width: $screen-xl-min) {
        &__description {
            width: 60%;
        }
    }

    @media (min-width: $screen-xl-min) and (max-width: $screen-xl-max) {
        &__title {
            width: 55%;
        }
    }

    @media (min-width: $screen-xxl-min) {
        background-size: 100% 100%;

        &__title {
            width: 35%;
        }
    }
}

// === / Transform your body === //

// === Footer === //

.section-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 135px;
    padding-bottom: 40px;
    background: url("../img/footer-background.png");
    background-size: cover;

    &__logo {
        display: flex;
        justify-content: center;
        cursor: pointer;

        &--img {
            max-width: 150px;
            max-height: 120px;
        }

        @media (max-width: $screen-lg-max) {
            padding-top: 25px;
        }
    }

    nav {
        ul {
            display: flex;
            padding: 0;
        }
    }

    &__nav {
        margin: 30px 0;

        &-list {
            font-size: 28px;
            font-weight: 400;
            line-height: 40px;
            color: $color-black;

            @media (max-width: $screen-lg-max) {
                flex-direction: column;
                align-items: center;
            }
        }

        &-item {
            cursor: pointer;
        }

        @media (max-width: $screen-lg-max) {
            &-item {
                margin-bottom: 10px;
            }
        }

        @media (min-width: $screen-xl-min) {
            &-item {
                padding-right: 20px;
                margin-right: 20px;
            }

            &-item:not(:last-child) {
                border-right: 2px solid;
            }
        }
    }

    &__nav-socials {
        display: flex;
        justify-content: center;

        &-item {
            margin-right: 30px;
            cursor: pointer;

            .social-logo {
                max-width: 55px;
                max-height: 55px;
            }
        }
    }
}

// === / Footer === //