@import "normalize";

// === Mixins === //

@mixin font-heebo {
    font-family: Heebo, sans-serif;
}

@mixin font-merienda-one {
    font-family: "Merienda One", cursive;
}

@mixin font-description {
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}

// === / Mixins === //

// === Variables === //

$color-white: #fff;
$color-black: #000;

// === / Variables === //

// === Common === //
* {
    box-sizing: border-box;
}

body {
    @include font-heebo;
}

.section-inner {
    margin: 0 auto;
}

// === / Common === //

// === Header === //

.section-header {
    height: 130px;
    padding: 10px 150px;
    background-color: $color-white;

    .section-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    img {
        width: 150px;
        height: 120px;
    }

    ul {
        display: flex;
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    li {
        padding-right: 75px;
        font-size: 28px;
        font-weight: 400px;
        line-height: 40px;

        a {
            color: $color-black;
            text-decoration: none;
        }

        a:hover {
            color: #1a7f72;
            transition: 0.2s;
        }
    }
}

// === / Header === //

// === Hero section === //

.section-hero {
    padding-top: 70px;
    text-align: center;
    background: url("../img/background-hero.png");
    background-size: 100% 100%;

    &__title {
        @include font-merienda-one;

        width: 45%;
        margin: 0 auto 22px;
        font-size: 68px;
        font-weight: 400px;
        line-height: 88px;
        color: $color-white;
    }

    &__description {
        @include font-heebo;
        @include font-description;

        width: 55%;
        margin: 0 auto 30px;
        color: rgba($color-black, 0.5);
    }

    &__button {
        margin: 0 auto 70px;

        button {
            width: 300px;
            height: 75px;
            padding: 20px 90px;
            margin: 0;
            font-size: 30px;
            font-weight: 700px;
            line-height: 130%;
            color: $color-white;
            text-align: center;
            cursor: pointer;
            background: linear-gradient(#259385, #159685);
            border: 0;
            border-radius: 50px;
            box-shadow: 0 20px 40px 0 rgba(21, 113, 101, 0.2);
        }
    }

    &__content {
        img {
            width: 590px;
            height: 560px;
        }
    }
}

// === / Hero section === //

// === Section2 === //

.section-second {
    padding: 120px 150px 40px;
    background-color: $color-white;

    .cards-list {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    .cards-item {
        width: 420px;
        height: 540px;
        padding-top: 50px;
        margin-top: 110px;
        margin-right: 110px;
        text-align: center;
        border-radius: 20px;
        box-shadow: 0 20px 50px rgba(26, 127, 114, 0.15);

        &__icon {
            margin-bottom: 20px;
        }

        &__title {
            margin-bottom: 20px;
            font-size: 32px;
            font-weight: 500px;
            line-height: 48px;
        }

        &__description {
            margin: 0 48px;
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
        }

        &__button {
            margin-top: 72px;
            margin-bottom: 96px;

            button {
                width: 210px;
                height: 55px;
                font-size: 24px;
                font-weight: 400;
                line-height: 130%;
                color: $color-white;
                cursor: pointer;
                background: linear-gradient(180deg, #259385 0%, #159685 100%);
                border: 0;
                border-radius: 30px;
                box-shadow: 0 13px 28px rgba(26, 117, 114, 0.2);
            }
        }

        &.meditation {
            background: url("../img/recctangle_meditation.png");
            background-position: center;
        }

        &.yoga {
            background: url("../img/recctangle_yoga.png");
            background-position: center;
        }

        &.sound {
            background: url("../img/recctangle_sound.png");
            background-position: center;
        }
    }
}

// === / Section2 === //

// === Practice === //

.section-practice {
    padding-top: 70px;
    margin-top: 40px;
    text-align: center;
    background: url("../img/exercise-background.png");
    background-repeat: no-repeat;
    background-position: right;

    &__title {
        @include font-merienda-one;

        width: 40%;
        margin: 0 auto 22px;
        font-size: 54px;
        font-weight: 400;
        line-height: 70px;
        color: $color-black;
    }

    &__description {
        @include font-heebo;
        @include font-description;

        width: 56%;
        margin: 0 auto;
        color: rgba($color-black, 0.5);
    }

    &__content {
        display: flex;
        padding: 70px 150px 120px;

        &-exercise {
            margin-left: 156px;
        }

        .exercise-list {
            padding: 0;
            margin: 0;
            list-style-type: none;
        }

        .exercise-item {
            width: 718px;
            height: 234px;
            padding: 40px;
            text-align: start;
            cursor: pointer;

            &__title {
                @include font-heebo;

                font-size: 32px;
                font-weight: 500;
                line-height: 48px;
                color: rgba($color-black, 0.8);
            }

            &__description {
                @include font-heebo;
                @include font-description;

                padding-top: 10px;
                color: rgba($color-black, 0.5);
            }

            &__arrow {
                display: flex;
                justify-content: end;
                visibility: hidden;
            }

            &:hover {
                background: url("../img/rectangle-exercise-meditation.png");
                background-position: center;
                box-shadow: 0 8px 50px rgba(26, 127, 114, 0.2);
            }
        }

        .exercise-item:hover &__arrow {
            visibility: visible;
        }
    }
}

// === / Practice === //

// === Music === //

.section-music {
    padding-top: 60px;
    text-align: center;
    background: url("../img/background-music.png");
    background-size: cover;

    &__title {
        @include font-merienda-one;

        margin: 0 auto 22px;
        font-size: 54px;
        font-weight: 400;
        line-height: 70px;
        color: $color-black;
    }

    &__description {
        @include font-heebo;
        @include font-description;

        width: 58%;
        margin: 0 auto;
        color: rgba($color-black, 0.5);
    }

    &__content {
        display: flex;
        justify-content: space-between;
        padding: 70px 150px 120px;
    }

    .music-list {
        padding-top: 0;
        margin: 65px 0 0;
        list-style-type: none;
    }

    .music-item {
        width: 650px;
        height: 150px;
        margin-bottom: 35px;

        &__content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 30px 40px;
            text-align: left;
            background-image: url("../img/music-item-background.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        &__information {
            padding: 0 80px;
        }

        &__title {
            @include font-heebo;

            margin-bottom: 10px;
            font-size: 32px;
            font-weight: 500;
            line-height: 48px;
        }

        &__description {
            @include font-heebo;
            @include font-description;

            margin: 0 auto;
            color: rgba($color-black, 0.5);
        }
    }

    .button-play-music {
        cursor: pointer;
    }
}

// === / Music === //

// === Best of meditation === //

.section-best-of-meditation {
    padding-top: 155px;
    text-align: center;
    background: url("../img/best-of-meditation-background.png");
    background-size: 100% 100%;

    &__title {
        @include font-merienda-one;

        margin: 0 auto 22px;
        font-size: 54px;
        font-weight: 400;
        line-height: 70px;
        color: $color-black;
    }

    &__description {
        @include font-heebo;
        @include font-description;

        width: 58%;
        margin: 0 auto;
        color: rgba($color-black, 0.5);
    }

    &__content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 70px 120px;
    }

    .benefits-list {
        padding: 0;
        margin: 0;
        list-style-type: none;

        &__item {
            display: flex;
            flex-direction: column;
            width: 600px;
            height: 200px;
            padding: 25px 35px;
            margin-bottom: 100px;

            &.left {
                align-items: end;
                text-align: right;
                background: url("../img/benefits-item-left-background.png");
                background-size: 100% 100%;
            }

            &.right {
                align-items: flex-start;
                text-align: left;
                background: url("../img/benefits-item-right-background.png");
                background-size: 100% 100%;
            }

            &-title {
                @include font-heebo;

                margin-bottom: 10px;
                font-size: 32px;
                font-weight: 500;
                line-height: 48px;
                color: $color-black;
            }

            &-description {
                @include font-heebo;
                @include font-description;

                width: 90%;
                color: rgba($color-black, 0.5);
            }
        }
    }
}

// === / Best of meditation === //

// === Transform your body === //

// === / Transform your body === //

// === Footer === //

// === / Footer === //